.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

g[id="turkiye"] > g[id="selected"] > path {
  fill: orange !important;
}

g[id="turkiye"] > g[id="selected"] > path:hover {
  fill: red !important;
}

#svg-turkiye-haritasi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
}

#svg-turkiye-haritasi{
  max-width: 80% !important;
  max-height: 100% !important;
}